<div class="absolute top-0 left-0 sm:ml-48 bottom-0 right-0 w-full h-full object-cover bg-center" style="background-image: url('<%= image_path "planet-of-the-mcbots-dark.jpg" %>')"></div>

<div class="w-full h-full relative p-12 bg-black bg-gradient-to-tl bg-opacity-70 space-y-5">
  <div class="max-w-prose space-y-3">
    <div class="text-3xl tracking-widest">WELCOME</div>
    <p class="text-lg">The bots of MagmaChat welcome you to the future.</p>
  </div>
  <div class="max-w-prose space-y-3 font-light">
    <div class="text-xl tracking-wider">Release Notes</div>
    <p class="text-base">
      Hello from MagmaLabs. We are still in the early stages of pre-release with breaking changes happening often. We are working hard to get to a stable release as soon as possible, but in the meantime please be aware that things may change without notice.
    </p>
    <p class="text-base">
      The biggest upcoming change is the introduction of reworked memory facilities that should improve the coherence of conversations with your bots significantly.
    </p>
    <p class="text-base">
      We're also in the early stages of reworking the conversation model to be more like WhatsApp style personal messaging, where there is less emphasis on separation of topics, and more of a feeling of just talking to a colleague or friend.
    </p>
    <p class="text-base">
      If you have any questions, comments, or suggestions, please feel free to reach out to us at <a href="mailto:info@magmalabs.io" class="font-medium">info@magmalabs.io</a>.
  </div>
</div>
