version: "3"

x-app: &default-app
  build:
    context: "."
    dockerfile: Dockerfile
  depends_on:
    redis:
      condition: service_healthy
    db:
      condition: service_healthy
  env_file:
    - .env.local
  tty: true
  volumes:
    - .:/rails

x-assets: &default-assets
  build:
    context: "."
    dockerfile: Dockerfile
  env_file:
    - .env.local
  tty: true
  volumes:
    - .:/rails
  entrypoint: []
  ports: []

services:
  redis:
    image: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: redis-server --requirepass password
    ports:
      - '6380:6379'
    volumes:
      - 'redis-data:/data'
    networks:
      default:

  db:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rails"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"
    restart: always
    environment:
      - POSTGRES_USER=rails
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - 'pg-data:/var/lib/postgresql/data'
      - './db/development.sql:/docker-entrypoint-initdb.d/setup.sql'
    networks:
      default:

  web:
    <<: *default-app
    ports:
      - "3000:3000"
    networks:
      default:

  css:
    <<: *default-assets
    command: bin/rails tailwindcss:watch


volumes:
  app: null
  redis-data: null
  pg-data: null

networks:
  default:
    driver: bridge
