<div class="mb-4">
  <label for="bot_auto_archive_mins" class="block text-gray-700 text-sm font-bold mb-2">
    Auto Archive (<output id="auto_archive_mins_output"><%= @bot.auto_archive_mins %> mins</output>)
  </label>
  <input type="range" name="bot[auto_archive_mins]" id="bot_auto_archive_mins" min="0" max="60" step="1"
        oninput="document.getElementById('auto_archive_mins_output').innerText = this.value + ' mins'"
        list="auto_archive_mins_stops" value="<%= @bot.auto_archive_mins %>"/>
  <datalist id="auto_archive_mins_stops">
    <option value="0">Disabled</option>
    <option value="5">5</option>
    <option value="20">20</option>
    <option value="60">60</option>
  </datalist>
  <div class="text-gray-500 text-sm max-w-prose">Useful for task-oriented, one or few-shot interactions like translators. Sets a time period after which the conversation will be automatically archived. Leave at 0 to disable.</div>
</div>
