<div class="field">
  <%= form.text_area :backstory, rows: 18, class: "shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  <div class="text-gray-500 text-xs">
    <span>Provide a personal backstory for the bot.</span>
    <span class="text-red-500 text-xs cursor-pointer"
          data-id="<%= @bot.id %>"
          data-reflex="click->Bot#generate_backstory">Generate</span>
  </div>
</div>
