<div class="flex w-full h-screen bg-gray-900">
  <div class="m-auto flex flex-col gap-8 items-center">
    <%= image_tag "logo.png", class: "w-32 object-fit m-auto" %>
    <div class="space-y-2">
      <h1 class="text-4xl font-bold text-center tracking-widest">MagmaChat</h1>
      <h2 class="text-2xl text-center tracking-wide max-w-sm text-gray-400">Open Source ChatGPT platform written in Ruby on Rails 7 using Boxcars, CableReady, and StimulusReflex</h2>
    </div>
    <%= button_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-primary" %>
    <div>Created with ❤️ by <a href="https://magmalabs.io?utm_source=magmachat&utm_medium=referral&utm_campaign=home" class="text-red-500 hover:text-red-400 text-xl font-medium">Magma Labs</a></div>
  </div>
</div>
