<%= link_to chat_path(chat), class: "flex items-start gap-3 hover:text-yellow-500" do %>
  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-8" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
  </svg>

  <div>
    <div class="flex-1 text-ellipsis max-h-[25px] overflow-hidden break-all relative">
      <%= chat.title.capitalize %>
      <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l from-gray-900"></div>
    </div>
    <div class="text-gray-600 text-sm">
      <%= distance_of_time_in_words_to_now(chat.created_at) %>
      ago
    </div>
  </div>
<% end %>
