  <div class="w-full p-4">
    <div class="grow-wrap grid">
      <input id="prompt_text" type="text" class="w-full rounded-md bg-gray-700 text-white p-[16px]"
             placeholder="Send a message..." autocomplete="off"
             data-controller="chat" data-reflex="change->Chat#prompt" data-id="<%= @chat&.id %>">
      <textarea id="prompt_textarea" type="text" class="w-full rounded-md bg-gray-700 text-white hidden pl-3"
             placeholder="Send a message..." autocomplete="off" rows="1"
             onKeyUp="this.parentNode.dataset.replicatedValue = this.value"
             data-controller="chat" data-action="keydown->chat#keydown"
             data-reflex="change->Chat#prompt" data-id="<%= @chat&.id %>"></textarea>
    </div>
    <div class="py-1 px-2 text-xs text-gray-400 flex justify-start items-center">
      <input id="grow" type="checkbox" class="bg-gray-400 m-1 mr-2 rounded-sm"
             <%= @chat.grow ? 'checked' : '' %> data-id="<%= @chat&.id %>"
             data-controller="grow" data-action="click->grow#toggle"/>
      <span>Multiple line input (cmd+enter to send)</span>
    </div>
  </div>
