<%= link_to bot do %>
  <%= image_tag bot.image_url, class: "bg-gray-800 rounded-lg" %>
  <div class="mt-2 mb-4">
    <div class="text-xl font-bold text-gray-300"><%= bot.name&.force_encoding("UTF-8") %></div>
    <div class="text-md text-gray-400 leading-5"><%= it(bot.role&.force_encoding("UTF-8")) %></div>
  </div>
<% end %>
