<%= link_to [:bots], class: "flex gap-3 items-center mb-4" do %>
      <%= image_tag("logo.svg", class: "w-12 object-fit sm:m-auto") %>
      <span class="hidden sm:inline text-2xl flex-1 text-gray-100 tracking-widest text-gray-950">MagmaChat</span>
    <% end %>
<div class="flex flex-wrap gap-3">
  <%= render collection: @bots, partial: "admin/bot" %>
</div>
