/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.message {
  color: #e5ded5;
}

.message p {
  font-size: 16px !important;
  line-height: 28px !important;
}
/* not last p */
.message p:not(:last-child) {
  margin-bottom: 20px !important;
}

.message.assistant {
   background-color: rgb(75 85 99);
}

.message.user {
   background-color: rgb(55 65 81)
}
