.three-balls {
  width: 70px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
}

.three-balls .ball {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
  animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.three-balls .ball1 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}

.three-balls .ball2 {
  -webkit-animation-delay: -.08s;
  animation-delay: -.08s;
}

@keyframes bouncedelay {
  0% {
    bottom: 0;
    background-color: #ff9346;
  }
  16.66% {
    bottom: 40px;
    background-color: #FB6542;
  }
  33.33% {
    bottom: 0px;
    background-color: #FB6542;
  }
  50% {
    bottom: 40px;
    background-color: #FFBB00;
  }
  66.66% {
    bottom: 0px;
    background-color: #FFBB00;
  }
  83.33% {
    bottom: 40px;
    background-color: #f46b03;
  }
  100% {
    bottom: 0;
    background-color: #f4033b;
  }
}

@-webkit-keyframes bouncedelay {
  0% {
    bottom: 0;
    background-color: #c900e8;
  }
  16.66% {
    bottom: 40px;
    background-color: #FB6542;
  }
  33.33% {
    bottom: 0px;
    background-color: #FB6542;
  }
  50% {
    bottom: 40px;
    background-color: #FFBB00;
  }
  66.66% {
    bottom: 0px;
    background-color: #FFBB00;
  }
  83.33% {
    bottom: 40px;
    background-color: #f4f403;
  }
  100% {
    bottom: 0;
    background-color: #f47b03;
  }
}
