<aside data-controller="aside" id="aside" style="right:-100%" class="flex flex-col overflow-hidden top-0 bottom-0 fixed sm:static bg-gray-900 z-10 w-64 transition-all">
  <div data-action="click->aside#hide" class="sm:hidden z-10 text-gray-400 flex py-2 px-4 bg-gray-800">
    Hide
    <%= heroicon "chevron-double-right", options: { class:"w-6 h-6" } %>
  </div>
  <div class="z-10 flex-1 bg-gray-800">
    <%= yield :right %>
  </div>
  <div id="aside-overlay" data-action="click->aside#hide" class="hidden sm:hidden fixed bg-gray-500 opacity-60 bottom-0 top-0 right-0 left-0">
  </div>
</aside>
