<div data-sidebar-target="sidebaroverlay" data-action="click->sidebar#hide" class="hidden sm:hidden fixed inset-0 bg-gray-500/80">
</div>

<aside data-sidebar-target="sidebar" style="left:-100%" class="flex flex-col overflow-hidden z-10 top-0 bottom-0 absolute sm:static w-64 bg-gray-800 transition-all">
  <%= yield :right %>
  <div class="flex-1 p-3">
    Bots
  </div>
</aside>
