<%= link_to path, class: "flex items-center gap-2 hover:bg-gray-700/50 p-2 rounded-md" do %>
  <div class="bg-gray-700 text-gray-400 p-2 rounded-md inline-block"><%= heroicon(icon) %></div>
  <div class="text-lg text-gray-400"><%= text %></div>
<% end %>
